<div class="container">
   <div class="search-box">
      <input type="text" class="search-input" [(ngModel)]="searchQuery" placeholder="{{ placeholder }}" (input)="handleInputChange()"
         (focus)="handleFocus()" (blur)="handleBlur()">
   </div>
</div>

<!-- <mat-form-field outline class="example-form-field" appearance="outline">
   <mat-label>{{label}}</mat-label>
   <input matInput [(ngModel)]="searchQuery" (input)="onSearchInput()" placeholder="Type to search" />
   <button mat-button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
   </button>
</mat-form-field> -->