@import '../../../styles.scss';

.wrapper {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 20.08vw;
   justify-content: center;
   align-items: center;
}

.bar {
   width: 100%;
}

.box {
   width: 100%;
   height: 60.34vh;

   border: 3px solid $dark-brown;
   border-radius: 30px;
   overflow: hidden;
   z-index: 1000;

   input {
      z-index: 1000000;
   }
}